php_value post_max_size 20M
php_value default_charset utf-8

<IfModule !rewrite_module>
	LoadModule rewrite_module modules/mod_rewrite.so
</IfModule>
<IfModule rewrite_module>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule .* index.php [L]
</IfModule>

<IfModule !expires_module>
	LoadModule expires_module modules/mod_expires.so
</IfModule>
<IfModule expires_module>
	ExpiresActive On
	ExpiresByType image/png "now plus 365 days"
	ExpiresByType image/jpeg "now plus 365 days"
	ExpiresByType image/gif "now plus 365 days"
	ExpiresByType application/javascript "now"
	ExpiresByType application/x-javascript "now"
	ExpiresByType text/javascript "now"
	ExpiresByType text/css "now"
</IfModule>
